doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    link(src="//cdn.jsdelivr.net/gridster.js/0.1/jquery.gridster.min.css")
    script(src="//cdn.jsdelivr.net/gridster.js/0.1/jquery.gridster.min.js")
    script(src="https://cdn.socket.io/socket.io-1.0.6.js")
    script(rel="text/javascript" src="/javascripts/script.js")
  body
    block content