doctype html
html(lang="en")
  head
    title= title
    meta(name="viewport" content="width=device-width, user-scalable=0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    link(rel='stylesheet', href="//cdn.jsdelivr.net/gridster.js/0.1/jquery.gridster.min.css")
    script(src="//cdn.jsdelivr.net/gridster.js/0.1/jquery.gridster.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.1/ZeroClipboard.js")
    script(src="https://cdn.socket.io/socket.io-1.0.6.js")
    script(rel="text/javascript" src="/javascripts/widget-grid.js")
    script(rel="text/javascript" src="/javascripts/jquery.flot.js")
    script(rel="text/javascript" src="/javascripts/gauge.js")
    script(rel="text/javascript" src="/javascripts/widget-gauge.js")
    script(rel="text/javascript" src="/javascripts/widget-graph.js")
    script(rel="text/javascript" src="/javascripts/widget-chat.js")
    script(rel="text/javascript" src="/javascripts/widget-title.js")
    script(rel="text/javascript" src="/javascripts/updateData.js")
  body
    div(id="container")
        block content