body {
  background-color: black;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.gridster {
  position: relative;
  bottom: 55px;
}

ul {
  list-style: none;
}

.title-h1 {
  position: relative;
  top: 40px;
  font-size: 56px;
}

.market-cap-h1,
.volume-h1,
.pe-ratio-h1,
.price-h1 {
  position: relative;
  top: 50px;
  font-size: 36px;
}

.chat-h1 {
  font-size: 24px;
  color: black;
}

.market-cap-value,
.pe-ratio-value,
.price-value {
  position: relative;
  top: 20px;
  font-size: 62px;
  overflow: hidden;
}

.volume-value {
  position: relative;
  top: 60px;
  font-size: 42px;
  overflow: hidden;
}

h6 {
  position: relative;
  top: 30px;
  font-size: 14px;
  font-weight: normal;
}

.title-input {
  position: relative;
  top: 30px;
  width: 120px;
  height: 50px;
  font-size: 24px;
}

.title,
.market-cap,
.volume,
.pe-ratio,
.price,
.chat {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 32px;
}

.title {
  background-color: #ec663c;
}

.market-cap {
  background-color: #47bbb3;
}

.volume {
  background-color: #9c4274;
}

.pe-ratio {
  background-color: #19b5fe;
}

.price {
  background-color: #f1c40f;
}

.chat {
  background-color: white;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.message-form {
  padding: 3px;
}

#message-input {
  padding: 10px;
  width: 90%;
  height: 5px;
  font-size: 12px;
  position: relative;
  top: 250px;
}

#messages > li {
  padding: 5px 10px;
  color: black;
  font-size: 12px;
  text-align: left
}

#messages > li:nth-child(odd) {
  background: #eee; 
}



