body {
  background-color: black;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

#container {
  padding-top: 5px;
}

.gridster {
  margin: 0px auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title-h1 {
  position: relative;
  top: 40px;
  font-size: 56px;
}

.market-cap-h1,
.pe-ratio-h1 {
  position: relative;
  top: 50px;
  font-size: 36px;
}

.price-h1 {
  position: relative;
  bottom: 350px;
  font-size: 28px;
}

.chat-h1 {
  font-size: 24px;
}

.market-cap-value,
.pe-ratio-value,
.price-value {
  position: relative;
  top: 20px;
  font-size: 62px;
  overflow: hidden;
}

.volume-h1 {
  position: relative;
  top: 10px;
  font-size: 36px;
}

.volume-value {
  position: relative;
  top: 30px;
  font-size: 24px;
  overflow: hidden;
}

h6 {
  position: relative;
  top: 30px;
  font-size: 14px;
  font-weight: normal;
}

.title-input {
  position: relative;
  top: 30px;
  width: 120px;
  height: 50px;
  font-size: 24px;
}

.title,
.market-cap,
.volume,
.pe-ratio,
.price,
.chat {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 32px;
}

.title {
  background-color: #ec663c;
}

.market-cap {
  background-color: #47bbb3;
}

.volume {
  background-color: #9c4274;
}

.pe-ratio {
  background-color: #19b5fe;
}

.price {
  background-color: #f1c40f;
}

.chat {
  background-color: white;
  color: black;
  overflow: scroll;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#message-input {
  width: 90%;
  height: 20px;
  font-size: 12px;
  position: relative;
  bottom: 20px;
}

#messages > li {
  padding: 5px 10px;
  margin-top: 2px;
  font-size: 12px;
  text-align: left;
  background-color: #e74c3c;
  color: white;
}

#messages > li:nth-child(odd) {
  background: blue;
}

.graph {
  box-sizing: border-box;
  width: 610px;
  height: 360px;
  border: 1px solid gray;
  background: #000;
}

.data {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2em;
}