body {
  background-color: black;
  font: 14px 'Helvetica Neue', sans-serif;
  margin: 0;
}

#container {
  padding-top: 5px;
}

.gridster {
  margin: 0px auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Flipping the widgets */
.flip {
  -webkit-perspective: 800;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
  background: white;
  color: black;
  cursor: pointer;
  font-size: 12px;
  text-align: left;
}

.copy-button {
  position: relative;
  top: 150px;
  left: 65px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.copy-button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}

.title-h1 {
  position: relative;
  top: 40px;
  font-size: 72px;
  opacity: 0.5;
}

.updated {
  font-size: 16px;
  position: relative;
  top: 20px;
}

.market-status {
  position: relative;
  top: 50px;
  font-size: 18px;
}

.market-cap-h1,
.pe-ratio-h1 {
  font-size: 48px;
  opacity: 0.7;
}

.price-h1 {
  position: relative;
  bottom: 360px;
  font-size: 48px;
  opacity: 0.7;
}

.chat-h1 {
  font-size: 48px;
  opacity: 0.7;
}

.market-cap-value,
.pe-ratio-value {
  position: relative;
  bottom: 20px;
  right: 5px;
  font-size: 72px;
  overflow: hidden;
}

.volume-h1 {
  font-size: 48px;
  opacity: 0.7;
}

.volume-value {
  position: relative;
  top: 20px;
  font-size: 36px;
  overflow: hidden;
}

li:hover {
  cursor: pointer;
}

.title-input {
  position: relative;
  top: 20px;
  width: 120px;
  height: 50px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.title,
.market-cap,
.volume,
.pe-ratio,
.price,
.chat {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 32px;
}

.title {
  background-color: #3a98d8;
}

.market-cap {
  background-color: #2abb9b;
}

.volume {
  background-color: #a76dbf;
}

.pe-ratio {
  background-color: #556e87;
}

.chat {
  background-color: #fc797a;
  color: white;
  overflow: scroll;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#message-input {
  width: 90%;
  height: 20px;
  font-size: 16px;
  position: relative;
  bottom: 20px;
}

#messages > li {
  padding: 5px 10px;
  margin-top: 2px;
  font-size: 16px;
  text-align: left;
  color: white;
  word-wrap: break-word;
}

/*#messages > li:nth-child(odd) {
  text-align: right;
}*/

.graph {
  box-sizing: border-box;
  width: 610px;
  height: 360px;
  border: 1px solid gray;
  background: #fbb44c;
  font-weight: bold;
}

.data {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2em;
}